
<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:render partial="Navigation" />

	<f:render partial="ExtensionType" arguments="{options: options, selectedValueExtensionType: selectedValueExtensionType}" />

	<f:render partial="Extension" arguments="{extensions: extensions, selectedValueExtensionType: selectedValueExtensionType, selectedValueExtension: selectedValueExtension}" />

	<f:render partial="File" arguments="{extensions: extensions, selectedValueExtensionType: selectedValueExtensionType, selectedValueExtension: selectedValueExtension, extensionName: extensionName, files: files, selectedFile: selectedFile}" />

	<f:render partial="Languages" arguments="{extensions: extensions, selectedValueExtensionType: selectedValueExtensionType, selectedValueExtension: selectedValueExtension, extensionName: extensionName, files: files, selectedFile: selectedFile, languages: languages, selectedLanguage: selectedLanguage}" />

</f:section>