
<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:render partial="Navigation" />

	<h1>Help</h1>

	<h2>General usage</h2>

	<p>
		If you want to translate a local extension, this is already selected by default. Just select the extension where
		you want to translate labels.
	</p>
	<p>
		Select there xlf file where the labels are stored that you want to translate.
	</p>
	<p>
		Select the language you want to translate. If the language you want to translate does not exist in the list,
		either the language does not exist the system or your administrator does not allow this language to translate.
	</p>

	<h2>Contact</h2>

	<p>
		If you find any error or if you have a question, feel free to report an issue to
		<f:link.external uri="https://github.com/tlayh/Xliff-Translationtool" target="_blank">github</f:link.external>
		or write me a email to <f:link.email email="develop@layh.com">develop@layh.com</f:link.email>
	</p>

</f:section>