/** layout **/

div#xliff-translationtool {
	padding: 5px;
}

/** general styles **/
a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	color: #00AA00;
}

/** navigation **/
div#xliff-translationtool ul.xliff-navigation li {
	background-color: #C0C0C0;
	border-radius: 5px 5px 0 0;
	float: left;
	margin-left: 10px;
	padding: 5px;
	text-align: center;
	width: 150px;
}

div#xliff-translationtool ul.xliff-navigation li:hover {
	background-color: #A0A0A0;
}

div#xliff-translationtool ul.xliff-navigation li:hover a {
	color: #ffffff;
}

/** select boxes, submit button **/

div#xliff-translationtool select {
	width: 240px;
}

div#xliff-translationtool input[type="submit"] {
	width: 80px;
	border-radius: 5px;
}

/** define translation table **/

table {
	width: 100%;
}

thead tr {
	background-color: #585858;
	color: #FFF;
	height: 20px;
}

thead td {
	font-weight: bold;
	font-size: 14px;
	padding-top: 3px;
	padding-left: 3px;
}

thead td.translation-key {
	width: 15%;
}

thead td.translation-source {
	width: 42%;
}

thead td.translation-target {
	width: 42%;
}

tbody td {
	height: 15px;
	padding-top: 2px;
	padding-left: 2px;
}

tbody td.translation-key {
	width: 15%;
}

tbody td.translation-source {
	width: 42%;
}

tbody td.translation-target {
	width: 42%;
}

tbody td.translation-target input {
	width: 100%;
}

tbody tr.gray {
	background-color: #DDDDDD;
}

tbody tr.lightgray {
	background-color: #E8E8E8;
}

/** list style for help section */

div#xliff-translationtool p {
    margin: 5px;
    padding: 5px;
}

div#xliff-translationtool div#messages {
	background-color: #444444;
    border: 1px solid black;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 13px;
    margin: 15px;
    padding: 5px;
}